.hero {
    background-color: $almostBlack;
    text-align: center;
    height: 31.875rem;
    background-color: hsl(0, 0%, 7.5%);
    
    
    &__innerBox{
        border-top: 1px solid rgba(255,255,255,0.1);

        @include media-breakpoint-up(md) {
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-areas: 'text image';
            justify-items: center;
            background-color: hsl(0, 0%, 7.5%);
        }
    }

    &__imgBox {
        // background-image: ;
        height: 31.875rem;
        width:100%;
        background-image: url('../assets/product-xx99-mark-two-headphones/mobile/image-product-black.png');
        background-repeat: no-repeat;
        background-position: center 30%;
        //background-size: 152%;
        background-size: 36rem;

        @include media-breakpoint-up(md) {
            background-image: url('../assets/product-xx99-mark-two-headphones/desktop/headphones-mk2-lrg.png');
            background-position: center 90%;
            grid-area: image;
        }

    }

    &__image{

    }

    &__text {
        position: absolute;
        top:90px;
        width:100%;
        @include media-breakpoint-up(md) {
            position:relative;
            width: auto;
            grid-area: text;
            ;
            justify-self: flex-start;
            text-align: left;

        }
    }

    &__newProduct{
        padding-top:6.875rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        color: white;
        opacity: 75%;
        font-weight: 300;
        @include media-breakpoint-up(md) {
            padding-top: 0;
        }

    }

    &__title{
        color: white;
        margin: 0 auto 1.5rem auto;
        max-width: 450px;
        line-height: 2.5rem;
        @include media-breakpoint-up(md) {
            line-height: 3.5rem;
        }


    }

    &__description {
        color:white;
        opacity: 75%;
        font-size: 0.8125rem;
        letter-spacing: 0.0625rem;   //1px
        line-height: 1.5625rem;  //25px
        // margin: 0 1.4375rem;
        margin: 0 auto;
        margin-bottom: 1.5rem;
        max-width: 320px;
        @include media-breakpoint-up(md) {
            margin: 0 0 1.5rem 0;
        }
    }

    &__button{
        padding: 1.25rem 2rem;
        background-color: $orange;
        border: 0;
        color: white;
        transition: background-color 300ms ease-in-out;
    }

    &__button:hover {
        background-color: $lightOrange;
    }




}